*.js linguist-vendored linguist-language=JavaScript linguist-detectable=40
*.css linguist-vendored linguist-language=CSS linguist-detectable=35
*.html linguist-vendored linguist-language=HTML linguist-detectable=25
