*.js linguist-detectable=false linguist-language=JavaScript linguist-detectable=40
*.css linguist-detectable=false linguist-language=CSS linguist-detectable=35
*.html linguist-detectable=false linguist-language=HTML linguist-detectable=25
