*.js linguist-vendored=false
*.css linguist-vendored=false
*.html linguist-vendored=false 
linguist-language=JavaScript linguist-detectable=40
linguist-language=CSS linguist-detectable=35
linguist-language=HTML linguist-detectable=25
